node-red-incident-example.json
[{"id":"ad5fcc48.88d4e","type":"tab","label":"Incident Example","disabled":false,"info":""},{"id":"e7614522.717f28","type":"inject","z":"ad5fcc48.88d4e","name":"Trigger Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227,"y":135,"wires":[["afb24775.dce7c8"]]},{"id":"afb24775.dce7c8","type":"function","z":"ad5fcc48.88d4e","name":"Create Incident Values","func":"msg.payload = {\n    short_description: 'Created from Node Red'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":266,"wires":[["8b73f224.93524"]]},{"id":"8b73f224.93524","type":"http request","z":"ad5fcc48.88d4e","name":"incident","method":"POST","ret":"obj","paytoqs":false,"url":"https://ven01573.service-now.com/api/now/table/incident","tls":"","proxy":"","authType":"basic","x":689,"y":266,"wires":[["9e22c2d9.268ba"]]},{"id":"717ce22c.7b3e0c","type":"debug","z":"ad5fcc48.88d4e","name":"Show Debug Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1092,"y":132,"wires":[]},{"id":"eef6d574.bd47f8","type":"http in","z":"ad5fcc48.88d4e","name":"Web Endpoint","url":"/createIncident","method":"get","upload":false,"swaggerDoc":"","x":234,"y":419,"wires":[["afb24775.dce7c8"]]},{"id":"ea9bac05.06e1b","type":"http response","z":"ad5fcc48.88d4e","name":"Output Message To Screen","statusCode":"","headers":{},"x":1104.5,"y":412,"wires":[]},{"id":"bc300d5b.c3fab","type":"template","z":"ad5fcc48.88d4e","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Created a new Incident: {{payload.result.number}}!","output":"str","x":800.5,"y":413,"wires":[["ea9bac05.06e1b"]]},{"id":"9e22c2d9.268ba","type":"switch","z":"ad5fcc48.88d4e","name":"Success","property":"msg.payload.status","propertyType":"jsonata","rules":[{"t":"eq","v":"failure","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":849.5,"y":265,"wires":[["717ce22c.7b3e0c"],["bc300d5b.c3fab"]]}]